* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

html,
body,
.container {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f5f5f5;
}

.container {
	display: grid;
	grid-template-rows: 65% 35%;
	grid-template-columns: 40% 60%;
	border: 1px solid #ccc;
}

.box {
	height: 100%;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px;
	overflow: auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#query-container,
#query-results {
	grid-row: 1;
}

#debugger,
#additional-info {
	grid-row: 2;
}

form {
	height: 100%;
	width: 100%;
}

#query-container textarea {
	height: calc(100% - 70px);
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
	resize: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#query-container button {
	float: right;
	height: 50px;
	display: block;
	margin: 10px 0px;
	padding: 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}

#query-container button:hover {
	background-color: #45a049;
}
