<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous">
	</script>
	<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
	<link rel="stylesheet" href="/css">
	<title>Online SQL Database</title>
</head>

<body>
	{% include "examples_sidebar.html" %}

	<div class="container" hx-indicator="#query-container">
		<div id="query-container" class="box">
			{% include "query_form.html" %}
		</div>

		<div id="query-results" class="box">
			<p class="center">
				Query results will appear here
			</p>
		</div>

		<div id="additional-info" class="box">
			<p class="center">
				Errors, messages, and query plans will appear here
			</p>
		</div>
	</div>

</body>
</html>

<script>
	const examplesSidebar = document.getElementById("examples-sidebar");
	const examplesButton = document.getElementById("examples-button");

    function closeExamplesSidebar() {
        examplesSidebar.style.left = "-300px";
        examplesButton.style.left = "0px";
    }

	function toggleExamplesSidebar() {
		const isOpen = examplesSidebar.style.left === "0px";

		if (isOpen) {
			closeExamplesSidebar();
		} else {
			examplesSidebar.style.left = "0px";
			examplesButton.style.left = "300px";
		}
	}

    document.addEventListener("click", (event) => {
        const isClickInsideSidebar = examplesSidebar.contains(event.target);
        const isClickOnButton = examplesButton.contains(event.target);

        if (!isClickInsideSidebar && !isClickOnButton) {
            closeExamplesSidebar();
        }
    });

	document.addEventListener("DOMContentLoaded", () => {
		const form = document.querySelector("form");
		const textarea = document.getElementById("sql-query");

		textarea.addEventListener("keydown", (event) => {
			if ((event.shiftKey || event.ctrlKey) && event.key === "Enter") {
				event.preventDefault();
				form.requestSubmit();
			}
		});
	});

	document.addEventListener("DOMContentLoaded", () => {
		examplesButton.addEventListener("click", () => toggleExamplesSidebar());
	});

	document.addEventListener("DOMContentLoaded", () => {
		const examples = document.querySelectorAll(".example");
		const textarea = document.getElementById("sql-query");

		examples.forEach((example) => {
			example.addEventListener("click", () => {
				textarea.value = example.textContent;
				toggleExamplesSidebar();
				textarea.focus();
			});
		});
	})

	document.addEventListener('DOMContentLoaded', () => {
		const keywords = [
			"SELECT", "FROM", "WHERE", "CREATE", "TABLE", "INSERT", "INTO", "VALUES", "UNIQUE", "NOT", "NULL",
			"IF", "EXISTS", "UINT", "INT", "TEXT", "BOOLEAN", "BOOL", "FLOAT", "OR", "AND", "DELETE", "UPDATE",
			"TRUNCATE", "DROP", "LIMIT", "OFFSET"
		];

		const highlightSql = (code) => {
			const keywordRegex = new RegExp(`\\b(${keywords.join('|')})\\b`, 'gi');
			const commentRegex = /(--[^\n]*|\/\*[\s\S]*?\*\/)/g;


			code = code.replaceAll(keywordRegex, (match) => `<span class="keyword">${match}</span>`);
			code = code.replaceAll(commentRegex, (match) => `<span class="comment">${match}</span>`);

			return code
		};

		const examples = document.querySelectorAll('.example');
		examples.forEach((example) => {
			example.innerHTML = highlightSql(example.innerHTML);
		});
	});
</script>
