<div id="welcome-popup">
	<div id="popup-content">
		<h2>Welcome to the online demo of niwid-db</h2>
		<p>
			This project is the result of my deep interest in database internals.
			Over the course of 7 months, with around 200 commits and 10,000 lines of Rust, it has been an exciting journey.
		</p>
		<br>
		<p>
			Please note, this is not a production-ready database. The query engine is intentionally simple,
			with no optimizations—queries are executed exactly as written.
			Only 5 basic data types are supported, and some constraints and operations are not supported.
		</p>
		<br>
		<p>
			I hope you find it interesting like I did. Enjoy!
		</p>
		<button id="popup-ok-btn">OK</button>
	</div>
</div>
